$def with (m)

<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta charset="UTF-8">
 <title>FIXME</title>
 <link rel="stylesheet" href="/static/base.css">
</head>
<body>
  <!--header>
    <h1>FIXME</h1>
  </header-->
  <br/>
  <br/>
  <h1 style="font-size:300%; color:red">GesturePi</h1>
  <p>Pi + Gyro + Music = Awesomeness!</p>
  <p>$m</p>
<br/>
<br/>
  <section>
    <header class="valid">
        <a href=/drum style="color: white; text-decoration:none"><h1>PLAY VIRTUAL DRUM!</h1></a></h1>
    </header>
  </section>
  <br/>
  <section>
    <header class="valid">
        <a href=/theremin style="color: white; text-decoration:none"><h1>PLAY VIRTUAL THEREMIN!</h1></a>
    </header>
  </section>
  <br/>
  <section>
    <header class="valid">
        <a href=/gesture style="color: white; text-decoration:none"><h1>DETECT GESTURES! (EXPERIMENTAL)</h1></a>
    </header>
  </section>
  <br/>
  <br/>
  <br/>
  <br/>
<p><a href="http://algorithms.jux-foundation.org/~mahrud"><img border="0" src="http://algorithms.jux-foundation.org/~mahrud/images/key.png"></a></p>
</body>
</html>
